.layout-container {
    max-width: 1600px;
    .layout-header {
        background-image: url("/assets/images/top_image.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
